/* Custom css grid */


//--- Extend

%clearfix:after {
  clear: both;
  content: '';
  display: block;
}

//--- Grid System

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include respond-to($mobile, none){
    max-width: 640px;
  }
  @include respond-to($tablet, none){
    max-width: 768px;
  }
  @include respond-to($desktopSmall, none){
    max-width: 980px;
  }
  @include respond-to($desktopLarge, none){
    max-width: 1200px;
  }
}


$grid-spacing: 3%;

.row {
  @extend %clearfix;
  & + & {
    margin-top: $grid-spacing;
  }

  [class ^= 'col-'] {
    float: left;
    margin-right: $grid-spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}

//--- Columns

.col-1 {
  width: (100%/12) - ($grid-spacing * 11/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-2 {
  width: (100%/6) - ($grid-spacing * 10/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-3 {
  width: (100%/4) - ($grid-spacing * 9/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-4 {
  width: (100% /3) - ($grid-spacing * 8/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-5 {
  width: (100%/2.4) - ($grid-spacing * 7/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-6 {
  width: (100%/2) - ($grid-spacing * 6/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-7 {
  width: (100%/1.714285714285714) - ($grid-spacing * 5/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-8 {
  width: (100%/1.5) - ($grid-spacing * 4/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-9 {
  width: (100%/1.333333333333333) - ($grid-spacing * 3/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-10 {
  width: (100%/1.2) - ($grid-spacing * 2/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-11 {
  width: (100%/1.090909090909091) - ($grid-spacing * 1/12);
  @include respond-to($tablet, max){
    width: 100%;
  }
}
.col-12 {
  width: 100%;
}
