/*** Flexible Viewport: Breakpoint Variables to use with @mixin ***/

$mobile: 640px;
$tablet: 768px;
$desktopSmall: 980px;
$desktopLarge: 1200px;

@mixin respond-to($val, $val2: none) {
  @if ($val2 == none) {
    @media (min-width: $val) { @content; }
  } @else if ($val2 == max) {
    @media (max-width: $val) { @content; }
  } @else {
    @media (min-width: $val) and (max-width: $val2) { @content; }
  }
}