/****************************************************************************
	Utilities
****************************************************************************/
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.row-ht-equal {
  display: flex;
}
.row-ht-equal  [class*='col-'] {
  display: flex;
}

.h-100p{
  height: 100% !important;
}
.w-100p{
  width: 100%!important;
}

.fw-300 {
  font-weight: 300!important;
}

.fw-400 {
  font-weight: 400!important;
}

.fw-600 {
  font-weight: 600!important;
}
.fw-500 {
  font-weight: 500!important;
}

.fw-bold {
  font-weight: bold;
}

.fs-10 {
  font-size: 10px;
}

.fs-8 {
  font-size: 8px;
}

.fs-11 {
  font-size: 11px;
}


.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px!important;
}

/********Padding, Margin**********/

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}
.mlr-0 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt25 {
  margin-top: 25px!important;
}

.mb25 {
  margin-bottom: 25px!important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}
.p0 {
  padding: 0 !important;
}
.pt5 {
  padding-top: 5px!important;
}
.pb5 {
  padding-bottom: 5px!important;
}
.plr-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.plr10 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.p10 {
  padding: 10px;
}

.pr5 {
  padding-right: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}


.pr10 {
  padding-right: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px!important;
}

.separator {
  background-color: #d9dadd;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 30px;
}
