@charset "utf-8";
@import "import/import";
@import "mixin/mixin";
@import "grid/grid";
@import "variables/variables";
@import "utilities/utilities";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #e6e6e6;
  font-size: 16px;
  height: 100%;
  font-family: $font-famiy;
  transition: all 0.35s cubic-bezier(.61,.05,.16,.93);
}

/*** Top Header Nav ***/
header {
  background-color: $color-white;
  height: 80px;
  @include respond-to($tablet, max) {
    height: auto;
  }
}


.logo {
  a {
    display: inline-block;
    margin-top: 22px;
    img {
      max-width: 155px;
      width: 100%;
    }
  }
  @include respond-to($tablet, max) {
    text-align: center;
  }

}

.navigation-menu ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    line-height: 80px;
    @include respond-to($tablet, max) {
      line-height: 50px;
    }

    a {
      color: $text-black;
      font-size: 14px;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.35s cubic-bezier(.61,.05,.16,.93);
    }
  }

  .btn-outline {
    border: 2px solid $primary-color;
    border-radius: 3px;
    color: $primary-color;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $color-white;
    }
  }
  @include respond-to($tablet, max) {
    text-align: center;
    float: none;
    margin-bottom: 20px;
  }
}


/*** Section Cover ***/
.s-cover {
  background: url("../images/cover.jpg") no-repeat 50% 0;
  background-size: cover;
  min-height: 525px;
  width: 100%;
  position: relative;

  .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
  }

  article {
    position: absolute;
    max-width: 980px;
    padding: 25px 15px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;

  }

  .tag-line,
  .para {
    text-align: center;
    color: $color-white;
  }
  .para {
    @extend .col-9;
    margin: auto;
  }
  .tag-line {
    @extend .fw-300;
    font-size: 60px;
    margin-top: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .para.para-2 {
    @extend .fs-14;
    @extend .col-8;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 22px;

  }

  .para-1, .para-3 {
    line-height: 34px;
    @extend .fs-18;

  }

  @include respond-to($mobile, max) {
    .tag-line {
      font-size: 34px;
    }
    .para-1, .para-3 {
      line-height: 24px;
      font-size: 16px;
    }
    .para.para-2 {
      font-size: 12px;
      line-height: 20px;

    }

  }
}

/*** Section News ***/
.s-news {
  background-color: #f2f2f2;
  padding: 30px 0;

  .s-news-label {
    color: $primary-color;
  }
  .s-news-dt {
    color: $text-black;
    @extend .fs-18;
    margin-bottom: 5px;
  }
  .s-news-venue {
    @extend .fs-14;
    color: $text-grey;

  }
  .btn-register {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: $color-white;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.61,.05,.16,.93);
  }

  @include respond-to($tablet, max) {
    [class ^= "col-"] {
      text-align: center;
    }
    .s-news-register {
      margin-top: 30px;
      text-align: center;
      .btn-register {
        float: none;

      }
    }
  }

}

/*** Section Common ***/

.s-common {
  padding-top: 30px;
  padding-bottom: 30px;

  .s-title {
    font-size: 35px;
    text-transform: uppercase;
    color: $text-black;
    text-align: center;
    margin-bottom: 30px;
    @extend .fw-400;
  }
  .s-para {
    color: $text-grey;
    text-align: center;
  }
}
/*** Section Get Involve ***/
.s-involve {
  background-color: #fff;

  .g-img {
    text-align: center;
    img {
      width: 100%;
      max-width: 115px;
    }
  }
  .g-content {
    text-align: center;
    .g-heading {
      color: $text-black;
      text-transform: uppercase;
    }
    .g-description {
      color: $text-grey;
      line-height: 20px;
    }
    .g-btn {
      .g-btn-link {
        border: 2px solid $primary-color;
        color: $primary-color;
        display: block;
        font-size: 14px;
        border-radius: 3px;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        max-width: 180px;
        width: 100%;
        margin: auto;
        transition: all 0.35s cubic-bezier(.61,.05,.16,.93);

        &:hover,
        &:focus {
          background-color: $primary-color;
          color: $color-white;
        }
      }
    }
  }

  @include respond-to($tablet, max){
    article {
      margin-bottom: 30px;
    }
  }
}

/*** Section Our Mission ***/
.s-mission {
  background-color: #f1f2f5;

  article {
    position: relative;
  }

  .s-para + .s-para {
    margin-bottom: 80px;
  }

  .g-img {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: #57c0d5;
    margin: 0 auto;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    right: 0;
    top: -50px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 45px;
      width: 100%;

    }
  }

  .g-content {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 60px 10px 10px;
    .g-heading {
      color: #5dc0c9;
      text-transform: uppercase;
    }
    .g-description {
      color: $text-black;
      line-height: 20px;
    }
  }

  @include respond-to($tablet, max) {
    [class ^= "col-"] {
      margin-bottom: 85px;
    }
  }
}

/*** Section Our Members ***/
.m-slider {
  max-width: 100%;
  width: 100%;
  display: inline-block;

  input {
    display: none;
  }

  #m-slide1:checked ~ .m-slides .inner {
    margin-left: 0;
  }
  #m-slide2:checked ~ .m-slides .inner {
    margin-left: -21%;
  }
  #m-slide3:checked ~ .m-slides .inner {
    margin-left: -43%;
  }

  #m-slide1:checked ~ .m-slide-indicator label:nth-child(1) {
    background-color: #4B505D;
  }
  #m-slide2:checked ~ .m-slide-indicator label:nth-child(2) {
    background-color: #4B505D;
  }
  #m-slide3:checked ~ .m-slide-indicator label:nth-child(3) {
    background-color: #4B505D;
  }

}
.overflow {
  overflow: hidden;
}
.m-slides {

  .inner {
    width: 100%;
    white-space: nowrap;
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  article {
    width: 20%;
    float: none;
    display: inline-block;
    text-align: center;

    a {
      display: inline-block;
    }
    img {
      max-width: 120px;
      width: 100%;
    }
  }

}
.m-slide-indicator {
  width: 100%;
  text-align: center;

  label {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #989eac;
    margin: 0 1px;
    transition: 0.5s;
    cursor: pointer;

  }
}

/*** Section Our blog ***/

.s-blog {

  .separator {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .b-slider {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    position: relative;

    input {
      display: none;
    }

    #b-slide1:checked ~ .b-slides .inner {
      margin-left: 0;
    }
    #b-slide2:checked ~ .b-slides .inner {
      margin-left: -25%;
    }
    #b-slide3:checked ~ .b-slides .inner {
      margin-left: -50%;
    }



    #b-slide1:checked ~ .b-slide-control label:nth-child(2):before,
    #b-slide2:checked ~ .b-slide-control label:nth-child(3):before,
    #b-slide3:checked ~ .b-slide-control label:nth-child(1):before {
      content: '\f053';
      font-family: FontAwesome;
      font-size: 22px;
      display: block;
      position: absolute;
      left: -3%;
      font-weight: 300;
    }


    #b-slide1:checked ~ .b-slide-control label:nth-child(3):before,
    #b-slide2:checked ~ .b-slide-control label:nth-child(1):before,
    #b-slide3:checked ~ .b-slide-control label:nth-child(2):before {
      content: '\f054';
      font-family: FontAwesome;
      font-size: 22px;
      display: block;
      position: absolute;
      right: -3%;
      font-weight: 300;
    }


    .b-slides {

      .inner {
        width: 100%;
        white-space: nowrap;
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
      }
      article {
        width: 25%;
        float: none;
        display: inline-block;
        text-align: left;
        white-space: normal;
        padding-right: 25px;

        @include respond-to($tablet, max) {
          width: 50%;
          padding-left: 25px;
        }

       .b-title {
         color: $primary-color;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-transform: capitalize;
         padding-right: 30%;
       }
        .b-para, .b-date {
          color: #5b6172;
        }

      }

    }

  }

  .b-slide-control {
    position: absolute;
    width: 100%;
    top: 32%;
    label {
      width: 100%;
      position: absolute;
      cursor: pointer;
      color: $primary-color;

    }

  }

}

/*** Footer ***/

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #45484d;
  text-align: center;

  .s-media-links {
    span {
      margin: 0 2px;
      color: $primary-color;
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s;
      padding: 5px;
      
      &:hover,
      &:focus {
        color: $color-white;
      }
    }
  }
  .disclaimer {
    font-size: 14px;
    color: #979eb1;
  }

  .separator {
    background-color: #585b61;
    margin-top: 30px;
    margin-bottom: 20px;

  }
}